@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin dark-button {
	border-radius: 5px;
	width: 100%;
	text-align: center;
	color: $bright-color;
	background: rgba(23,15,15,0.35);
	border: 1px solid rgba(20,20,20,0.15);
	-moz-box-shadow:    0px 2px 2px 0px rgba(0,0,0,0.24);
	box-shadow:         0px 2px 2px 0px rgba(0,0,0,0.24);
}

@mixin dark-button-input {
	border-radius: 5px;
	text-align: center;
	color: $bright-color;
	background: rgba(23,15,15,0.35);
	border: 1px solid rgba(20,20,20,0.15);
}

@mixin white-button {
	border-radius: 5px;
	width: 100%;
	color: $bright-color;
	background: rgba(244,243,235,0.80);
	border: 1px solid rgba(20,20,20,0.15);
	moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.14), inset 0px 1px 0px 0px rgba(255,255,255,0.20);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.14), inset 0px 1px 0px 0px rgba(255,255,255,0.20);
}