@import compass
@import mixins
@import variables
@import typography

html
	height: 100%


body
	margin: 0
	padding: 0
	overflow-x: hidden
	background-repeat: no-repeat
	background-position: center top
	@include display-flex()
	@include flex-direction(column)

#gavel
	height: 434px
	width: 300px
	margin: 0 auto
	z-index: 3

#background
	display: block
	position: absolute
	width: 100%
	height: 100%
	margin-left: auto
	margin-right: auto
	left: 0
	right: 0
	z-index: 2
	background-size: cover
	background-position: center top

#background-blur
	display: block
	position: absolute
	width: 100%
	height: 100%
	position: absolute
	margin-left: auto
	margin-right: auto
	left: 0
	right: 0
	z-index: 1
	background-size: cover
	background-position: center top

header
	width: 100%
	color: white
	margin-top: 20px

header svg
	display: block
	margin: 0 auto

.strapline
	display: block
	text-align: center
	color: #3A91B2
	font-size: 12px
	font-weight: 700
	color: rgba(255,255,255,0.7)

section.main
	@include flex-grow(3)
	visibility: hidden
	margin-top: 20px

section.main span
	width: 100%
	text-align: center
	display: block
	color: $dark-color-opacity
	font-weight: 700
	font-size: 16px

section.main span svg
	position: relative
	top: 3px
	left: 6px

section.main span svg #adjust-values
	fill: $dark-color-opacity

section.main span svg:hover #adjust-values
	fill: #ffffff
	opacity: 0.90

h1
	margin: 0
	text-align: center
	text-transform: uppercase
	font-size: 30px
	font-family: "Oswald", sans-serif

h2
	color: white

h3
	width: 80%
	margin: 90px auto -5px auto
	text-align: center
	color: $bright-color
	font-size: 20px
	line-height: 22px
	font-weight: 700
	text-transform: uppercase

div.buttons
	margin: 10px auto 10px auto
	display: table

.buttons select
	@include white-button-black-text
	text-align: left
	padding: 12px 26px 12px 12px
	font-size: 15px
	width: 250px
	-moz-appearance: none
	-webkit-appearance: none
	text-indent: 0.01px
	text-overflow: ''
	background-image: url('./images/arrow.png')
	background-position: right center
	background-repeat: no-repeat

.buttons select:hover
	background-color: rgba(244,243,235,1)

.buttons select:focus
	outline: none

.commission
	@include display-flex()
	@include flex-direction(row)
	padding: 0px
	margin-left: 20px
	margin-right: 20px
	max-width: 256px
	margin: 0 auto

.commission div
	@include flex-grow(1)
	color: $bright-color
	padding: 2px 5px
	margin: 10px 10px 0px 10px
	text-align: center
	font-size: 24px
	font-weight: 900

.commission .edit
	@include dark-button-input

.commission-graph
	margin-bottom: 30px

.commission-graph section
	@include display-flex()
	@include flex-direction(row)
	padding: 0px
	margin-left: 20px
	margin-right: 20px
	max-width: 256px
	margin: 0 auto

.commission-graph svg
	@include flex-grow(1)
	padding: 0px
	margin-left: 20px
	margin-right: 20px
	max-width: 256px
	margin: 0 auto

.commission-graph svg g
	fill: $dark-color-opacity

.commission-graph section div
	@include flex-grow(1)
	color: $dark-color-opacity
	padding: 0px
	margin: 0px
	font-size: 12px
	font-weight: 700
	text-align: center
	position: relative
	left: -5px

.commission-graph section div:first-child
	left: 0px

.commission-graph section div:first-child
	text-align: left

.inputs .text
	@include display-flex()
	@include flex-direction(row)
	max-width: 280px
	margin: 0 auto

.inputs .text h2
	@include flex-grow(1)
	font-size: 15px
	font-weight: 700
	text-align: center
	color: $dark-color-opacity
	margin: 0px 0px 5px 0px

.inputs .result
	@include display-flex()
	@include flex-direction(row)
	max-width: 260px
	margin: 0 auto
	padding: 6px
	@include white-button

.inputs .result input
	@include flex-grow(1)
	@include dark-button-input
	font-family: 'Source Sans Pro'
	font-size: 19px
	text-align: center
	padding: 5px 10px
	margin: 0px
	width: 50%

.inputs .result input:focus
	outline: none
	background: rgba(23,15,15,0.65)

.inputs .result svg
	@include flex-grow(1)
	text-align: center
	padding: 5px
	position: relative
	top: 4px

.widget
	margin: 0 auto
	font-size: 12px
	font-weight: 700
	text-align: center
	text-transform: uppercase
	color: rgba(255,255,255,1)
	cursor: pointer

.widget p
	display: inline
	padding: 5px
	border-top: 1px solid rgba(255,255,255,0.7)

.widget p:hover
	color: rgba(255,255,255,0.7)

.widget-text
	max-width: 256px
	margin: 40px auto 0 auto

.widget-text h2
	font-size: 15px
	text-align: center
	color: $bright-color-opacity


.widget-text textarea
	width: 100%
	@include dark-button-input
	resize: none
	height: 60px
	font-size: 12px
	line-height: 18px
	padding-top: 10px

.widget-text textarea:focus
	outline: none
	background: rgba(23,15,15,0.65)

.widget-text button
	display: table
	max-width: 80%
	margin: 20px auto 0 auto
	@include white-button-black-text
	text-align: center
	padding: 12px
	font-size: 15px
	font-weight: 700
	-webkit-appearance: none

.widget-text button:hover
	background: rgba(244,243,235,1)

.widget-text button:focus
	outline: none

footer
	width: 300px
	position: absolute
	bottom: 30px
	height: 30px

footer a
	width: 58px
	display: block
	margin: 0 auto

footer svg
	display: block
	margin: 0px auto 15px auto

footer svg #fusion-logo
	fill: rgba(255,255,255,1)

footer a:hover svg #fusion-logo
	fill: rgba(255,255,255,0.7)

